.title-header {
  text-align: center;
  color: #eee;
  background: #222;
  font-size: 1.6em;
  margin: 0 0 16px;
  padding: 12px;
  font-weight: 700;
  border-radius: 12px;
  border: 1px solid #444;
}
